<div class="row" style="padding-left:25%;padding-top:2%;width:100%">
    <div>
    <nb-card style="width:30em" >
        <nb-card-header>Add Hard Currency </nb-card-header>
        <nb-card-body>
       
              <label >Type</label> <input type="text" [(ngModel)]= "type" placeholder="Currency Name"style="width:10em;padding-left:2%;margin-left:.5em;height:2%;margin-top:3%">
             <br/>
              <label >Country</label>  <input type="text" [(ngModel)]="country"  placeholder="Country"style="width:10em;padding-left:2%;margin-left:-.8em;height:2%;margin-top:3%">
        
        <br/>
          <button  id="add"  (click)="submit()" shap="round" > submit </button>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
  
