<nb-card >
    <nb-card-header>
      <span>ٍGrams</span>
         
    </nb-card-header>
    <div class="table-responsive">
    <table>
        <tbody>
          <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
      <tr>
          <td>Bahrani</td>
          <td>{{save.bah_Grams}} Grams</td>
      </tr>
      <tr>
          <td>Kweitei</td>
          <td>{{save.kwe_Grams}} Grams</td>
      </tr>
      <tr>
          <td>Turkey</td>
          <td>{{save.tur_Grams}} Grams</td>
      </tr>
      <tr>
          <td>Sudani</td>
          <td>{{save.sud_Grams}} Grams</td>
      </tr>
      <tr>
          <td>Used</td>
          <td>{{save.used_Grams}} Grams</td>
      </tr>
      <tr>
          <td>Total Grams</td>
          <td>{{save.total_Grams}} Grams</td>
      </tr>
      </tbody>
      </table>
      </div>
</nb-card>

<nb-card >
    <nb-card-header>
      <span>ٍMoney details</span>
         
    </nb-card-header>
    <div class="table-responsive">
    <table>
        <tbody>
          <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
      <tr>
          <td>Cash Money</td>
          <td>{{save.cash}}</td>
      </tr>
      <tr>
          <td>Bank</td>
          <td>{{save.bank}}</td>
      </tr>
      <tr>
          <td>Total Money</td>
          <td>{{save.money}}</td>
      </tr>
      </tbody>
      </table>
      </div>
</nb-card>

<nb-card >
    <nb-card-header>
      <span>Money</span>
         
    </nb-card-header>
    <div class="table-responsive">
    <table>
        <tbody>
          <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
      <tr>
          <td>Cash Money</td>
          <td>{{save.cash}}</td>
      </tr>
      <tr>
          <td>Bank</td>
          <td>{{save.bank}}</td>
      </tr>
      <tr>
          <td>Total Money</td>
          <td>{{save.money}}</td>
      </tr>
      </tbody>
      </table>
      </div>
</nb-card>