
<div class="row">
 
          <div class="col-sm-6 col-lg-3 col-xs-12">
              <a routerLink="../addcustomer">
              <button style="height:140px; 
                             width:85%;outline:0;
                             margin-right: 10px;background-color:#fff;
                             border-radius: 8px; border-color: white;
                             color: #404042;  border-color: white;
                             border-style: solid; cursor:pointer;
                             font-size: 24px;font-family: sans-serif;
                             padding:0px; margin-bottom:20px">
                  <b>Add Customer</b> 
              </button>
            </a>
          </div>
          
          
 

  <div class="col-sm-6 col-lg-3 col-xs-12">
      <a routerLink="../customerdetails">
      <button style="height:140px; 
                     width:85%;outline:0;
                     margin-right: 10px;background-color:#fff;
                     border-radius: 8px; border-color: white;
                     color: #404042;  border-color: white;
                     border-style: solid; cursor:pointer;
                     font-size: 24px;font-family: sans-serif;
                     padding:0px; margin-bottom:20px">
          <b>Check Customer Details</b> 
      </button>
    </a>
  </div>

<div class="col-sm-6 col-lg-3 col-xs-12">
    <a routerLink="../checktransactions">
    <button style="height:140px; 
                   width:85%;outline:0;
                   margin-right: 10px;background-color:#fff;
                   border-radius: 8px; border-color: white;
                   color: #404042;  border-color: white;
                   border-style: solid; cursor:pointer;
                   font-size: 24px;font-family: sans-serif;
                   padding:0px; margin-bottom:20px">
        <b>Check debt Transactions</b> 
    </button>
  </a>
</div>
<div class="col-sm-6 col-lg-3 col-xs-12">
    <a routerLink="../sell">
    <button style="height:140px; 
                   width:85%;outline:0;
                   margin-right: 10px;background-color:#fff;
                   border-radius: 8px; border-color: white;
                   color: #404042;  border-color: white;
                   border-style: solid; cursor:pointer;
                   font-size: 24px;font-family: sans-serif;
                   padding:0px; margin-bottom:20px">
        <b>Sell</b> 
    </button>
  </a>
</div>
</div>

    <div class="row">
 
        <div class="col-sm-6 col-lg-3 col-xs-12">
            <a routerLink="../Purchase">
            <button style="height:140px; 
                           width:85%;outline:0;
                           margin-right: 10px;background-color:#fff;
                           border-radius: 8px; border-color: white;
                           color: #404042;  border-color: white;
                           border-style: solid; cursor:pointer;
                           font-size: 24px;font-family: sans-serif;
                           padding:0px; margin-bottom:20px">
                <b>purchase</b> 
            </button>
          </a>
        </div>
        
        


<div class="col-sm-6 col-lg-3 col-xs-12">
    <a routerLink="../checkAllTransactions">
    <button style="height:140px; 
                   width:85%;outline:0;
                   margin-right: 10px;background-color:#fff;
                   border-radius: 8px; border-color: white;
                   color: #404042;  border-color: white;
                   border-style: solid; cursor:pointer;
                   font-size: 24px;font-family: sans-serif;
                   padding:0px; margin-bottom:20px">
        <b>check All Transactions</b> 
    </button>
  </a>
</div>

<div class="col-sm-6 col-lg-3 col-xs-12">
  <a routerLink="../Hard-Curency">
  <button style="height:140px; 
                 width:85%;outline:0;
                 margin-right: 10px;background-color:#fff;
                 border-radius: 8px; border-color: white;
                 color: #404042;  border-color: white;
                 border-style: solid; cursor:pointer;
                 font-size: 24px;font-family: sans-serif;
                 padding:0px; margin-bottom:20px">
      <b>Hard Curency</b> 
  </button>
</a>
</div>
<div class="col-sm-6 col-lg-3 col-xs-12">
  <a routerLink="../Expensives">
  <button style="height:140px; 
                 width:85%;outline:0;
                 margin-right: 10px;background-color:#fff;
                 border-radius: 8px; border-color: white;
                 color: #404042;  border-color: white;
                 border-style: solid; cursor:pointer;
                 font-size: 24px;font-family: sans-serif;
                 padding:0px; margin-bottom:20px">
      <b>Expensives</b> 
  </button>
</a>
</div>
</div>


<div class="row">
    <div class="col-sm-6 col-lg-3 col-xs-12">
        <a routerLink="../checkSave">
        <button style="height:140px; 
                       width:85%;outline:0;
                       margin-right: 10px;background-color:#fff;
                       border-radius: 8px; border-color: white;
                       color: #404042;  border-color: white;
                       border-style: solid; cursor:pointer;
                       font-size: 24px;font-family: sans-serif;
                       padding:0px; margin-bottom:20px">
            <b>check Save</b> 
        </button>
      </a>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-12">
        <a routerLink="../credit">
        <button style="height:140px; 
                       width:85%;outline:0;
                       margin-right: 10px;background-color:#fff;
                       border-radius: 8px; border-color: white;
                       color: #404042;  border-color: white;
                       border-style: solid; cursor:pointer;
                       font-size: 24px;font-family: sans-serif;
                       padding:0px; margin-bottom:20px">
            <b>credit</b> 
        </button>
      </a>
      </div>
      </div>
      