<div class="row" style="padding-left:25%;padding-top:2%">
<div>
<nb-card >
  <nb-tabset fullWidth>   
    <nb-tab tabTitle="sell" >
      <div class="slider-container" >
       
            <label>Amount</label> <input type="text" nbInput fullWidth shape="rectangle" placeholder="amount"  [(ngModel)]="amount"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
            <br/>
       <label>Paid cash</label><input type="text" nbInput fullWidth shape="rectangle" id="cashpaid" placeholder="cashpaid"[(ngModel)]="cashpaid"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
            <br/>
            <label>Paid card</label><input type="text" nbInput fullWidth shape="rectangle" id="cardpaid" placeholder="cardpaid"[(ngModel)]="cardpaid"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
            <br/>
              <br/>
            <br/>
            
          <button  nbButton shap="round" style="margin-bottom:4%; margin-left: 40%"(click)="sell()"> submit </button>
            <br/>
            <br/>
            <br/>
          </div>
    </nb-tab>   
      <nb-tab tabTitle="Buy">
     <div class="slider-container" >
  
                    <label>Amount</label> <input type="text" nbInput fullWidth shape="rectangle" placeholder="amount"  [(ngModel)]="amount1"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
                    <br/>
            
                   <label>Paid cash</label><input type="text" nbInput fullWidth shape="rectangle" id="cashpaid1" placeholder="cashpaid"[(ngModel)]="cashpaid1"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
                    <br/>
                    <label>Paid card</label><input type="text" nbInput fullWidth shape="rectangle" id="cardpaid1" placeholder="caardpaid"[(ngModel)]="cardpaid1"style="width:30%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
                     <br/>
                    <br/>
                  <button  nbButton shap="round" style="margin-bottom:4%; margin-left: 40%"(click)="buy()"> submit </button>
                    <br/>
                    <br/>
                    <br/>
                  </div>
            </nb-tab>  
        </nb-tabset> 
</nb-card>
</div>
</div>