<div class="row" style="padding-left:25%;padding-top:2%;width: 100%">
    <div>
    <nb-card style="width: 140%" >
        <nb-card-header  style="text-align: center">Add Customer </nb-card-header>
        <nb-card-body>     
        <label style="margin-right: 5.2%">Customer Name</label> <input type="text" [(ngModel)]= "name"nbInput fullWidth placeholder="Customer Name"  onkeypress="return (event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))"style="width:50%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
      <br/>
              <label>Customer Telephone</label>  
              <input type="text"[(ngModel)]="Telphone" nbInput onkeypress="return !(event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))" fullWidth placeholder="Customer Telephone"style="width:50%;padding-left:2%;margin-left:1%;height:2%;margin-top:3%">
              <br/>
              <label style="margin-right: 2%">Another Telephone</label>  <input type="text" [(ngModel)]="AnotherTelphone"  onkeypress="return !(event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))" nbInput fullWidth placeholder="Another Telephone"style="width:50%;padding-left:2%;margin-left:1%;height:2%;margin-top:3%">
       <br/>
          <label  style="margin-right: 16.5%" >Address </label><input type="text" nbInput fullWidth shape="rectangle" [(ngModel)]="Address"placeholder="Address"style="width:50%;padding-left:2%;margin-left:2%;height:2%;margin-top:3%">
         <br/>
          <button  nbButton  (click)="submit()" shap="round" style="margin-bottom:4%; margin-left: 40%"> submit </button>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
  

  