@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .cards-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .table-card,
  .chart-card {
    box-shadow: none;
    margin-bottom: 0;
    border-width: 0;
  }

  .table-card {
    flex: 0 0 auto;
  }

  .chart-card {
    flex: 1 0 auto;
  }

  .chart-card nb-card-header {
    display: flex;
    align-items: center;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);

    // prevents double border from chart yAxisSplitLine
    margin-bottom: -1px;
  }

  .type-select {
    margin-left: auto;
  }

  .stats {
    margin-right: 1rem;

    > .caption {
      display: block;
    }
  }

  nb-tabset {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  nb-tab {
    padding: 0;
  }

  nb-list-item {
    display: flex;
    align-items: baseline;

    &:first-child {
      border-top: none;
    }
  }

  .month {
    width: 2rem;
  }

  nb-icon.down {
    color: nb-theme(color-danger-default);
  }

  nb-icon.up {
    color: nb-theme(color-success-default);
  }

  .results {
    margin-left: auto;
  }

  @include media-breakpoint-down(xl) {
    .table-card {
      display: none;
    }
  }

  .page-item.active .page-link
  {
    background-color: #555;
    z-index: 1;
    color: #fff;
    border-color: #fff;

  }

  #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th  {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #555;
  color: white;
}


#customers th.search {
  background-color: #ddd;

}
#button {

  background-color: #555;
  /* padding-left: 10%; */
color:#ddd;
  width: 5em;
  margin-left: 10%;
  text-align: center;
  height: 1.8em;
  margin-top: .2em;
}
#text{
  color: #ddd;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: -.2em;
}




}


